{% extends 'base.html.twig' %}

{% block title %}Hello ResumeController!
{% endblock %}

{% block body %}
	<main id="main">
		<section id="resume" class="resume">
			<div class="container">

				<div class="section-title">
					<h2>Curriculum Vitae</h2>
				</div>

				<div class="row">
					<div class="col-lg-6" {# data-aos="fade-up" #}>

						<h3 class="resume-title">Formation</h3>
						{% for formations in formation %}
							<div class="resume-item">
								<h4>{{formations.name}}
									&amp; Graphic Design</h4>
								<h5>{{formations.datedebut}}
									-
									{{formations.datefin}}</h5>
								<p>
									<em>{{formations.lieu}},
										{{formations.adresse}}</em>
								</p>
								<p>{{formations.message}}</p>
								{% if is_granted('ROLE_ADMIN') %}
									<td>
										<a href="{{ path('resume_edit', {'id': formations.id}) }}">edit</a>
									</td>
								{% endif %}
							</div>
						{% endfor %}
					</div>
					<div class="col-lg-6" {# data-aos="fade-up" #} data-aos-delay="100">
						<h3 class="resume-title">Expérience professionel</h3>
						{% for experiences in experience %}
							<div class="resume-item">
								<h4>{{experiences.name}}
								</h4>
								<h5>{{experiences.datedebut}}
									-
									{{experiences.datefin}}</h5>
								<p>
									<em>{{experiences.lieu}},
										{{experiences.adresse}}</em>
								</p>
								<p>{{experiences.message}}</p>
								{% if is_granted('ROLE_ADMIN') %}
									<td>
										<a href="{{ path('resume_edit', {'id': experiences.id}) }}">edit</a>
									</td>
								{% endif %}
							</div>
						{% endfor %}
					</div>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('resume_new') }}">Create new</a>
					{% endif %}
				</div>
			</section>
		</main>

	{% endblock %}
